//- layout.pug
doctype html
html(class='shop-home' lang='en-us')
  include includes/head.pug
  body(class='font-body')
    include includes/header.pug
    main
      block content
    include includes/footer.pug
